<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>Get started in HTML5</h3>
        </legend>
<% if (jsContext){ %>
        <p>This is a "get started" code snippet for HTML5 where you can see how to access your JayStorm service from the browser.<br>
        The latest JayData, the JayStorm client module and datajs are included from our CDN.</p>
        <textarea class="console-code" id="service-<%=template.name %>-template-<%=service.ServiceID %>" style="width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            CodeMirror.fromTextArea(document.getElementById('service-' + template.name + '-template-' + service.ServiceID), {
                mode: 'text/html',
                lineNumbers: true
            });
        });
%><!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>JayStorm Get Started</title>
    
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script src="http://include.jaydata.org/datajs-1.0.3.min.js" type="text/javascript"></script>
    <script src="http://include.jaydata.org/jaydata.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        // this is your API key to access the <%= service.Name %> service in the <%=app.name %> application
        var apiKey = {<% if (app.isfreeapp){ %>
            ownerId: '<%=app.url.split('/')[3] %>',
            appId: '<%=app.appid %>',
            serviceName: '<%=service.Name %>'<% }else{ %>
            appId: '<%=app.appid %>',
            // see https://dashboard.jaystack.com for your real application key
            applicationKey: '<your-application-key>',
            serviceName: '<%=service.Name %>',
            license: 'business'<% } %>
        };
        
        // the credentials used when connecting to the service
        // set <username> and <password> correctly
        // uncomment this section to enable
        /*var credentials = {
            user: '<username>',
            password: '<password>'
        };*/
        
        // initialize the connection to the <%=service.Name %> service in the <%=app.name %> application
        // credentials are optional, anonymous access used if omitted
        $data.initService(apiKey /*, credentials */).then(function(<%=service.Name %>, factory, type){
            // "<%=service.Name %>" is your data context
            // "factory" is a context factory method
            // "type" is your context type
            
            <% if (service.DatabaseID){ %>
            // get all data from the <%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %> table
            <%=service.Name %>.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>.toArray(function(result){
                // "result" is the actual data in a simple Array
                
                // add a new element to the <%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %> table
                <%=service.Name %>.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>.add({
                    <%
                        var memDefs = serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties();
                        for (var i = 0; i < memDefs.length; i++){
                            if (!memDefs[i].computed){
                                if (i < memDefs.length - 1){
                    %><%=memDefs[i].name %>: <some value>,
                    <%
                                }else{
                    %><%=memDefs[i].name %>: <some value><%
                                }
                            }
                        }
                    %>
                });
                
                // we want to update the first element, so we attach it
                var updated = result[0];
                <%=service.Name %>.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>.attach(updated);
                
                // and set the <%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> field of the element
                updated.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> = <some other value>;
                
                // remove the second element
                var removed = result[1];
                <%=service.Name %>.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>.remove(removed);
                
                // after we create, update or remove an element
                // we have to call the "saveChanges" method
                // to send the modifications to the server
                <%=service.Name %>.saveChanges(function(cnt){
                    // "cnt" is the number of elements successfully processed on the server on "saveChanges"
                    console.log(cnt + ' element changes processed and saved.');
                });
            });<% }else if (serviceType.memberDefinitions.getPublicMappedMethods().length){
            %>// work with API service operations
            <%=service.Name %>.<%= serviceType.memberDefinitions.getPublicMappedMethods()[0].name %>(<%
                for (var i = 0; i < (serviceType.memberDefinitions.getPublicMappedMethods()[0].params || { length: 0 }).length; i++){
                    %><some param value>,<%
                }
                %>function(result){
                // "result" is the return value of the API call
                // do your code work here
            });<%
            %>)
            <% } %>
        }).fail(function(err){
            console.error('Connection failed.');
            console.error(err);
        });
    </script>
</head>
<body>
    
</body>
</html></textarea>
<% } %>
    </fieldset>
</form>
<% if (!jsContext){ %>
<p class="text-error">Service unpublished. Please publish your service by deploying your application.</p>
<% }%>
