<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>Service URL</h3>
        </legend>
        <input type="text" style="width:100%;" value="<%=app.url + service.Name + '/' %>"/>
        <br />
        <p class='alert alert-info iblock'>
          See more info at <a target='_blank' href="http://odataphp.codeplex.com/">http://odataphp.codeplex.com/</a>
        </p>
    </fieldset>
    <fieldset>
        <legend>
          <h3>Get started PHP code</h3>
        </legend>
        <textarea class="console-code" id="service-<%=template.name %>-template-<%=service.ServiceID %>" style="width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            var el = document.getElementById('service-' + template.name + '-template-' + service.ServiceID);
            if (el){
                el.style.height = el.scrollHeight + 'px';
            }
        });
%>

<?php

require_once 'context.php';

$svc = new <%= service.Name %>Service(DEFAULT_ODATA_SERVICE_URL);
// you'll need this if your database operation needs authentication/authorization
// $svc->Credential = new WindowsCredential('scott','tiger');

<% if (service.DatabaseID){ %>
// #get all rows from an entityset
$query = $svc-><%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>();
$items = $query->Execute();
var_dump($items);
<% } %>

?>
  
</textarea>
    </fieldset>

    <% if (tsContext){ %>
    <fieldset>
        <legend>JayData PHP context</legend>
        <textarea id="service-<%=template.name %>-template-context-<%=service.ServiceID %>" style="width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            var el = document.getElementById('service-' + template.name + '-template-context-' + service.ServiceID);
            if (el){
                el.style.height = el.scrollHeight + 'px';
            }
        });
        %><%=phpContext %></textarea>
    </fieldset>
    <% } %>
</form>
<% if (!jsContext){ %>
<p class="text-error">Service unpublished. Please publish your service by deploying your application.</p>
<% }%>
