<form class="form-horizontal">
    <% if (phpContext){ %>
    <fieldset>
        <p>This is a "get started" code snippet for PHP where you can see how to access your JayStorm service from a PHP script. You can only read from php now but we'll fix that soon.</p>
        <p class='alert alert-info iblock'>
          See more info at <a target='_blank' href="http://odataphp.codeplex.com/">http://odataphp.codeplex.com/</a>
        </p>
<a class="btn btn-primary" href="javascript:document.location = 'data:Application/octet-stream,' +encodeURIComponent($('#service-<%=template.name %>-template-context-<%=service.ServiceID %>').text());">Download context.php</a>
    </fieldset>
    <fieldset>
        <legend>
          <h3>Get started PHP code</h3>
        </legend>
        <textarea class="console-code" id="service-<%=template.name %>-template-<%=service.ServiceID %>" style="width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            CodeMirror.fromTextArea(document.getElementById('service-' + template.name + '-template-' + service.ServiceID), {
                mode: 'text/x-php',
                lineNumbers: true
            });
        });
%>

<?php

require_once 'context.php';

$<%=service.Name%>Service = new <%= service.Name %>Service(DEFAULT_ODATA_SERVICE_URL);
// you'll need this if your database operation needs authentication/authorization
// $<%=service.Name%>Service->Credential = new WindowsCredential('scott','tiger');

<% if (service.DatabaseID){ %>
// #get all rows from an entityset
$query = $<%=service.Name%>Service-><%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>();
$items = $query->Execute()->Result;
foreach($items as $item) {
  echo $item-><%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %>."\n";
}
<% } %>

?>
  
</textarea>
    </fieldset>
    <fieldset>
        <!--<legend>JayData PHP context</legend>-->
        <textarea id="service-<%=template.name %>-template-context-<%=service.ServiceID %>" style="display:none;width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            var el = document.getElementById('service-' + template.name + '-template-context-' + service.ServiceID);
            if (el){
                el.style.height = el.scrollHeight + 'px';
            }
        });
        %><%=phpContext %></textarea>
    </fieldset>
    <% } %>
</form>
<% if (!phpContext){ %>
<p class="text-error">Service unpublished. Please publish your service by deploying your application.</p>
<% }%>
