<form class="form-horizontal">
    <fieldset>
        <p class='alert alert-info iblock'>
          See more info at: <a target='_blank' href="http://rdoc.info/github/visoft/ruby_odata">http://rdoc.info/github/visoft/ruby_odata</a>
        </p>
    </fieldset>
    <fieldset>
        <legend>
          <h3>Get started Ruby code</h3>
        </legend>
        <textarea class="console-code" id="service-<%=template.name %>-template-<%=service.ServiceID %>" style="width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            var el = document.getElementById('service-' + template.name + '-template-' + service.ServiceID);
            if (el){
                el.style.height = el.scrollHeight + 'px';
            }
        });
%>


require 'ruby_odata'

svc = OData::Service.new "<%=app.url + service.Name %>"
# you'll need this if your database operation needs authentication/authorization
# svc = OData::Service.new "<%=app.url + service.Name %>", { :username => "scott", :password=> "tiger" }
<% if (service.DatabaseID){ %>
#get all rows from an entityset
svc.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>
result = svc.execute
puts result.to_json

#get some rows from an entityset
svc.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>.filter("<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> ne null")
result = svc.execute
puts result.to_json

#add new element
#elem = <%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.name %>.new
#elem.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> = <somevalue>
#svc.AddTo<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>(elem)
#svc.save_changes

#update
#elem.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> = <some other value>
#svc.update_object(elem)
#svc.save_changes

#delete
#svc.delete_object(elem)
#svc.save_changes

<% } %>

</textarea>
    </fieldset>
</form>

