<form class="form-horizontal">
<% if (jsContext){ %>
    <fieldset>
        <p>This is a "get started" code snippet for Ruby where you can see how to access your JayStorm service from a Ruby application.</p>
        <p class='alert alert-info iblock'>
          See more info at: <a target='_blank' href="http://rdoc.info/github/visoft/ruby_odata">http://rdoc.info/github/visoft/ruby_odata</a>
        </p>
    </fieldset>
    <fieldset>
        <legend>
          <h3>Get started Ruby code</h3>
        </legend>
        <textarea class="console-code" id="service-<%=template.name %>-template-<%=service.ServiceID %>" style="width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            CodeMirror.fromTextArea(document.getElementById('service-' + template.name + '-template-' + service.ServiceID), {
                mode: 'text/x-ruby',
                lineNumbers: true
            });
        });
%>


require 'ruby_odata'

<%=service.Name%>Service = OData::Service.new "<%=app.url + service.Name %>"
# you'll need this if your database operation needs authentication/authorization
# , { :username => "scott", :password=> "tiger" }
<% if (service.DatabaseID){ %>
#get all rows from an entityset
<%=service.Name%>Service.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>
result = <%=service.Name%>Service.execute
result.each { |f| puts f.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> }

#get some rows from an entityset
<%=service.Name%>Service.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>.filter("<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> ne null")
result = <%=service.Name%>Service.execute
result.each { |f| puts f.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> }

#add new element
#elem = <%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.name %>.new
#elem.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> = <somevalue>
#<%=service.Name%>Service.AddTo<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].name %>(elem)
#<%=service.Name%>Service.save_changes

#update
#elem.<%= serviceType.memberDefinitions.getPublicMappedProperties()[0].elementType.memberDefinitions.getPublicMappedProperties()[1].name %> = <some other value>
#<%=service.Name%>Service.update_object(elem)
#<%=service.Name%>Service.save_changes

#delete
#<%=service.Name%>Service.delete_object(elem)
#<%=service.Name%>Service.save_changes

<% } %>

</textarea>
    </fieldset>
<% } %>
</form>
<% if (!phpContext){ %>
<p class="text-error">Service unpublished. Please publish your service by deploying your application.</p>
<% }%>
